* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(39, 2, 37);
    font-family: sans-serif;
}

.primary-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-block: 1rem;
    background-color: white;
}

.logo {
    font-weight: bold;
    margin-left: 2rem;
}

.nav-links {
    display: flex;
    gap: 1rem;
    margin-right: 2rem;
    list-style: none;
}